/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 feb. 2020, 16:10:54
    Author     : Rocío
*/


.root{
    -fx-background-color: aquamarine;
}        

.button{    
    -fx-background-color: lightgreen;
    -fx-cursor: hand;
    -fx-text-fill: #000;
    -fx-padding: 13px 20px;
    -fx-font-size: 18px;
    -fx-font-family: helvetica;
    -fx-border-style: dotted;
    -fx-border-width: 5;  
    -fx-border-color: blue;
}

.label
{
    -fx-font-family: "helvetica";
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
}


