/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 feb. 2020, 16:10:54
    Author     : Rocío
*/
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');

.label{
    /*-fx-background-color: black;*/
    -fx-font-size: 25px;
    -fx-font-family: "Handlee";
    -fx-text-fill: "black";   
}




.btn-teacher {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.btn-teacher:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.btn-teacher:active {
	position:relative;
	top:1px;
}

        